/* #10181F BLACK
#45F882 GREEN
#FFBE18 YELLOW
#19222B BLACK-ALT 
#ADB0BC TEXT-WHITE-2*/

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* GLOBAL CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--cl-2--);
}

body {
  --cl-1--: #06132d;
  --cl-2--: #ffffff;
  --cl-3--: #adb0bc;
  --cl-4--: linear-gradient(90deg, #45f882 0%, #ffbe18 100%);
  --cl-5--: #19222b;
  background: var(--cl-1--);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
}
